body{
    background-color: dodgerblue;
    text-align: center;
    color: black;
}
h1{
    font: bold 4em Helvetica, Arial, Sans-Serif;
    font-size: 120px;
	color: black;
	padding: 0.2em;
	margin: 0;
}
#h02{
    text-align: center;
    font-family: serif;
    padding: inherit;
    margin-top: 30px;
}
#mini{
   position: relative;
	top: -3px;
	left: -3px;
	text-shadow: 1px 1px darkblue, 2px 2px darkblue, 3px 3px darkblue, 4px 4px darkblue, 5px 5px darkblue, 6px 6px darkblue;
}
#stanga{
   position: relative;
	top: -3px;
	left: -3px;
	text-shadow:  1px 1px darkblue, 2px 2px darkblue, 3px 3px darkblue, 4px 4px darkblue, 5px 5px darkblue, 6px 6px darkblue;
}
#humpe{
   position: relative;
	top: -3px;
	left: -3px;
	text-shadow:  1px 1px darkblue, 2px 2px darkblue, 3px 3px darkblue, 4px 4px darkblue, 5px 5px darkblue, 6px 6px darkblue;
}
.flex{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: none;
}
img{
    width: 80px;
    height: 120px;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  box-sizing: border-box;
}